{% extends 'base.html' %}
{% load static %}
{% block content %}  
{% block section %}
 <h2>Categoria {{ object.nombre }}</h2>
 <hr>
{% endblock section %}
<p><a href="{% url 'categoria-delete' object.id_categoria %}" class="btn btn-primary" role="button">Eliminar</a> <a href="{% url 'categoria-update' object.id_categoria %}" class="btn btn-default" role="button">Editar</a></p>

{% for p in object.producto_set.all %}
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static p.photo.url %}" alt="Lights" style="width:200px;height:200px">
      <div class="caption">
        <h3>{{ p.nombre }}</h3>
        
      </div>
    </div>
  </div>
</div>


 {% endfor %}
 
<!---->
 {% endblock content %}  