{% extends 'base.html' %}
{% load static %}

{% block content %}  

<div>
 <table class="table table-striped table-inverse">
 <tr>
 
 <td><label>cedula</label></td>
 <td><label>nombre</label></td>
 <td><label>apellidos</label></td>
 <td><label>emails</label></td>
 <tr>
 <td> {{ object.cedula }} </td>
 <td> {{ object.nombre }} </td>
 <td> {{ object.apellidos }} </td>
 <td> {{ object.email }} </td>	
 </tr>
 
 </tr>
 </table>
 </div>
 <a class="btn btn-default btn-ex active" href="{% url 'cliente-delete' object.id_cliente %}">Eliminar</a​></a>  
 <a class="btn btn-success" href="{% url 'cliente-update' object.id_cliente %}">Editar</a>
 {% endblock content %}  