{% extends 'base.html' %}
{% block section %}
 <h2>Clientes</h2>
 <hr>
{% endblock section %}
{% block content %}
 <div>
 
 


<table class="table table-striped table-inverse">
  <thead>
    <tr>

      <th>Id</th>
      <th>Cedula</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Celular</th>
    </tr>
  </thead>
  <tbody>
  {% for c in object_list %}
    <tr>
      <td>{{ c.id_cliente }}</td>
      <td><a href="{% url 'cliente-detail' c.pk %}">{{ c.cedula }}</a></td>
      <td>{{ c.nombre }}</td>
      <td>{{ c.apellidos }}</td>
      <td>{{ c.email }}</td>
      <td>{{ c.celular }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



 
 </br>
 
 
 </div>
 <a  href="{% url 'cliente-create' %}"><h3>Crear</h3></a​>	
{% endblock content %} 
