{% extends 'base.html' %}
{% block content %}
 <div>
 
 
 <div class='row'>
<div class='col-sm-8'>
<table class="table table-striped table-inverse">
  <thead>
    <tr>

      <th>Id</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Fecha ingreso</th>
    </tr>
  </thead>
  <tbody>
  {% for c in object_list %}
    <tr>
      <td>{{ c.id_producto }}</td>
      <td>{{ c.nombre }}</td>
      <td>{{ c.cantidad }}</td>
      <td>{{ c.precio }}</td>
      <td>{{ c.fecha_ingreso }}</td>
      <td><a href="{% url 'producto-detail' c.pk %}"><i class="fa fa-eye" ></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
</div> 
 
 </div>
 <a href="{% url 'producto-create' %}"><h3>Crear</h3></a​>
{% endblock content %} 
