{% extends 'base.html' %}
{% load static %}

{% block content %}  
<div class='row'>
<div class='col-sm-7'>

<div>
 <table class="table table-striped table-inverse">
 <tr>
 
 <td><label>cantidad venta</label></td>
 <td><label>valor</label></td>
 <td><label>fecha</label></td>
 <td><label>productos</label></td>
 <tr>
 <td> {{ object.cantidad_venta }} </td>
 <td> {{ object.valor }} </td>
 <td> {{ object.fecha_venta }} </td>
 <td> {{ object.productos }} </td>
 	
 </tr>
 
 </tr>
 </table>
 </div>
 </div>
 </div>
 <a  href="{% url 'venta-delete' object.id_venta %}">Eliminar</a​>

 {% endblock content %}  