
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% block content %}


{% endblock content %} 
<html>
<headlang="en">
 <metacharset="UTF-8">
 <title>SMARKET</title>
</head>
<body>
 <h1>SMARKET</h1>
 <ul>
 <li>
 <a href="{% url 'categoria-list' %}">categoria</a>
 </li>
 <li>
 <a href="{% url 'producto-list' %}">producto</a>
 </li>
<li>
 <a href="{% url 'cliente-list' %}">cliente</a>
 </li>

<li>
 <a href="{% url 'venta-list' %}">venta</a>
 </li>

 </ul>
 <hr>
 <div>
 {% block section %}
 {% endblock section %}
 </div>
 <div>
 {% block maincontent %}
 {% endblock maincontent %}
 </div>
</body>
</html>

